@import "~bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);

button{
    background-color: #f6f6f6;
    border: none;
    }
.list-group {
    // display: flex;
    // text-align: left;
    // flex-direction: column;
    padding-left: 0;
    margin: auto;
    border-radius: 0.25rem;
    max-width: 400px;
    box-shadow: 1px 2px 1px 0px rgb(167, 167, 167);
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    p{
        padding: 15px;
        padding-bottom: 0;
        font-size: 80%;
    }
}
    input{ 
        display: block;
    align-content: center;
      text-align: center;
      margin: auto;  
      width: 100%;  
      border: 0;
      max-width: 400px;
    }
  

.header{
    text-align: center;
    margin: auto;
    color: #091652;
    font-family: 'Josefin Sans', sans-serif;
}
body{
 background-color:#f6f6f6;
}
